---
---

@import "{{ site.theme }}";

body {
    font-family: 'Merriweather Sans', sans-serif !important;
    background-color: #fffff2;
}

header {
    a {
        background-color: transparent !important;
    }
}
